In [1]:
x = (1,2,3,4)
type (x)

tuple

In [2]:
x = (1,'a','b')
type (x)

tuple

In [3]:
x = [1,2,3,4]
type(x)

list

In [4]:
x = [1,'a','b']
type(x)

list

In [5]:
x.append('c')
print(x)

[1, 'a', 'b', 'c']

In [6]:
for item in x:
    print (item)

1
a
b
c

In [7]:
len(x)

4

In [8]:
x[0]

1

In [9]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [10]:
[2]*5

[2, 2, 2, 2, 2]

In [11]:
1 in x

True

In [12]:
y = 'this is a string'
print(y[0])
print(y[0:2])

t
th

In [13]:
y[-1]

'g'

In [18]:
firstname = 'Xiao Thung'
lastname = 'Gan'
print(firstname + ' ' + lastname)
print(firstname * 3)
print('Xiao' in firstname)

Xiao Thung Gan
Xiao ThungXiao ThungXiao Thung
True

In [21]:
firstname = 'Harry James Potter'.split(' ')[0]
lastname = 'Harry James Potter'.split(' ')[-1]
print(firstname)
print(lastname)

Harry
Potter

In [24]:
#Dictionaries
x = {'Harry Potter': 'harrypotter@gmail.com', 'Tesla': 'tesla@gmail.com'}
x['Tesla']

'tesla@gmail.com'

In [26]:
for name in x: 
    print( x[name])

harrypotter@gmail.com
tesla@gmail.com

In [28]:
for name, email in x.items():
    print(name)
    print(email)

Harry Potter
harrypotter@gmail.com
Tesla
tesla@gmail.com

In [32]:
x = ('Kiana', 'Kaslana', 'kkaslana@yahoomail.com')
fname, lname, email = x

In [30]:
fname

'Kiana'

In [31]:
print(lname)

Kaslana

In [33]:
email

'kkaslana@yahoomail.com'